@import './variables';

.VueTables {
  .VueTables__table {
    thead {
      background: linear-gradient(0deg, $color-daredevil 0%, $color-invigorate 100%);
      tr {
        &:first-of-type {
          th {
            border: 0;
            padding: 20px 15px;

            &:first-of-type { border-radius: 10px 0 0 0; }
            &:last-of-type { border-radius: 0 10px 0 0; }

            &.VueTables__sortable {
              &:hover {
                cursor: pointer;
              }
            }

            span {
              color: white;
              font-size: 1rem;
              text-transform: capitalize;
            }
          }
        }

        th {
          border: 0;
          padding-top: 0;
        }
      }
    }

    tbody {
      tr {
        &:hover {
          background-color: rgba(228, 114, 55, .1);
        }

        td {
          padding: 20px 15px;
        }
      }
    }

    tfoot {
      @include color-alpha('background-color', $color-gray-1, .3);

      tr {
        th {
          span {
            color: $color-gray-3;
          }
        }
      }
    }
  }

  .VueTables__search {
    .form-control {
      border-radius: 1cm;
      font-size: .9rem;
    }
  }

  .VueTables__columns-dropdown {
    margin-left: 1.25rem;
    button {
      background: linear-gradient(0deg, $color-daredevil 0%, $color-invigorate 90%);
      border-radius: 1cm;
      border: 0;
      font-size: .9rem;
      height: 34px;
    }
  }

  .VueTables__limit {
    margin-left: 1.25rem;
    .form-control {
      border-radius: 1cm;
      font-size: .9rem;
    }
  }

  .VueTables__dropdown-pagination {
    margin-left: 1.25rem;
    .form-control {
      border-radius: 1cm;
    }
  }

  .VuePagination {
    .VuePagination__pagination {
      li:first-of-type a {
        border-radius: 1cm 0 0 1cm;
      }

      li:last-of-type a {
        border-radius: 0 1cm 1cm 0;
      }

      .page-link {
        color: $color-invigorate;
      }

      .page-item.active .page-link {
        background-color: $color-invigorate;
        border-color: $color-invigorate;
        color: $color-light;
      }
    }

    .VuePagination__count {
      // border: 1px solid $color-gray-1;
      border-radius: 1cm;
      color: #888;
      font-weight: bold;
      font-size: .7rem;
      line-height: 1rem;
      margin: 0;
      padding: 5px 20px 3px 20px;
    }
  }
}
