$color-growth: rgba(3, 142, 26, 1);
$color-maturation: rgba(130, 163, 6, 1);
$color-maturity: rgba(242, 90, 6, 1);
$color-senescent: rgba(214, 4, 6, 1);
$color-senescence: rgba(125, 79, 48, 1);

/*Gusto Gold
R: 248 G: 172 B: 29
Hex Value: #f8ac1d

Forsythia
R: 255 G: 200 B: 1
Hex Value: #ffc801


Direct Green
R: 63 G: 138 B: 36
Hex Value: #3f8a24


Fireworks
R: 208 G: 62 B: 53
Hex Value: #d03e35


Invigorate
R: 228 G: 114 B: 55
Hex Value: #e47237


Daredevil
R: 211 G: 76 B: 42
Hex Value: #d34c2a */

$color-gray-1: rgba(227, 227, 229, 1);
$color-gray-2: rgba(252, 252, 255, 1);
$color-gray-3: rgba(189, 189, 191, 1);
$color-gray-4: rgba(126, 126, 127, 1);
$color-gray-5: rgba(63, 63, 64, 1);

$color-light: rgba(245, 245, 245, 1);
$color-dark: rgba(34, 34, 34, 1);

$color-google: rgba(214, 65, 1, 1);
$color-twitter: rgba(35, 170, 225, 1);
$color-facebook: rgba(59, 90, 154, 1);

$font-light: 300;
$font-regular: 400;
$font-bold: 700;
$font-bolder: 900;
