@import './mixins.scss';

$color-growth: rgba(3, 142, 26, 1);
$color-maturation: rgba(130, 163, 6, 1);
$color-maturity: rgba(242, 90, 6, 1);
$color-senescent: rgba(214, 4, 6, 1);
$color-senescence: rgba(125, 79, 48, 1);

$color-gusto-gold: rgba(248, 172, 29, 1);
$color-forsythia: rgba(255, 200, 1, 1);
$color-direct-green: rgba(63, 138, 36, 1);
$color-fireworks: rgba(208, 62, 53, 1);
$color-invigorate: rgba(228, 114, 55, 1);
$color-daredevil: rgba(211, 76, 42, 1);

$color-gray-1: rgba(227, 227, 229, 1);
$color-gray-2: rgba(252, 252, 255, 1);
$color-gray-3: rgba(189, 189, 191, 1);
$color-gray-4: rgba(126, 126, 127, 1);
$color-gray-5: rgba(63, 63, 64, 1);

$color-sidebar: rgba(239, 239, 239, 1);

$color-light: rgba(255, 255, 255, 1);
$color-dark: rgba(34, 34, 34, 1);

$color-google: rgba(214, 65, 1, 1);
$color-twitter: rgba(35, 170, 225, 1);
$color-facebook: rgba(59, 90, 154, 1);

$font-light: 300;
$font-regular: 400;
$font-bold: 700;
$font-bolder: 900;
